/* index.css */

/* Reset Styles */
* {
  box-sizing: border-box; /* Ensure padding and borders are included in the element's total width and height */
  margin: 0;
  padding: 0;
}

/* Base styles */
html, body {
  height: 100%; /* Full height for body */
}

/* Flexbox for centering */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

/* Styling for Links */
a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit color from parent */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}
